.navbar {
   background-color:#f5f5f5 ;

  &.has-shadow {

  }

  .navbar-brand-right {
    margin-left: auto;
    display: flex;
  }

  .navbar-end .navbar-item:hover {
    background: #f5f5f5;
  }

  .navbar-item {
    min-height: 44px;
  }

  .navbar-item.is-hoverable:hover {
    background-color: #f5f5f5;
  }

  .navbar-item .dropdown-caret {
    border-top-color: $lightest-grey;
  }

  .navbar-item:not(.button).is-tab:hover {
    border-bottom: 1px solid #f5f5f5;
  }

  .navbar-item:not(.button).is-tab.is-active {
    border-bottom: 3px solid #387F75;
    color: #387F75;
  }

  .navbar-item img {
    max-height: none;
  }

  .navbar-image.is-32x32 {
    img {
      border: 1px solid $mern-hover;
      border-radius: 3px;
      max-height: none;
    }
  }

  .profile-img {
    height: 32px;
    width: 32px;
  }

  .button {
    font-weight: $weight-semibold;
  }

  .title {
    color: #387F75;
    font-weight: $weight-semibold;
  }

  .logo {
    color: #387F75;
    font: initial;
    font-size: 1.5rem;
    font-weight: 800;
  }

  .dropdown {
    .title {
      color: #387F75;
    }
  }
}
